<div class="mdl-layout__header mdl-layout__header--scroll mdl-color--primary">
  <div class="mdl-layout--large-screen-only mdl-layout__header-row">
    <h3>Blog</h3>
  </div>
  <div class="mdl-layout__tab-bar-container">
    <div class="mdl-demo mdl-layout__tab-bar mdl-js-ripple-effect mdl-color--primary-dark mdl-js-ripple-effect--ignore-events">
    {{#link-to "blog" class="mdl-demo mdl-layout__tab"}}Blog{{/link-to}}
    {{#link-to "posts" class="mdl-demo mdl-layout__tab"}}Posts{{/link-to}}
    {{#link-to "new" class="mdl-layout__tab"}}Add New{{/link-to}}
    </div>
  </div>
</div>


{{outlet}}