<div class="mdl-grid mdl-cell mdl-cell--12-col">  
        <div class="mdl-cell mdl-cell--12-col">  
        <h1>New Post</h1>
        </div>
        <div class="mdl-cell mdl-cell--12-col">  
        	<label>Title:</label> <br>
        	{{textarea value=title cols="80" rows="1"}}
        </div>
        <div class="mdl-cell mdl-cell--12-col"> 
        	<label>Description:</label> <br>
        	{{textarea value=description cols="80" rows="6"}}
        </div>
      	<div class="mdl-grid" style="margin-left: 500px;">
        	{{mdl-button isRaised=true text='Save' action="save"}}
      	</div> 
</div>
