<div class="mdl-grid mdl-cell mdl-cell--12-col"> 
          <div class="mdl-cell mdl-cell--12-col">
                <h1>Posts</h1>
                <ul class='mdl-list'>
                {{#each p in content}}
                <li class="mdl-list__item">{{#link-to 'posts.edit' p.id}}<strong>{{p.title}}</strong>{{/link-to}}</li>
                {{/each}}
                </ul>
        </div>
                {{outlet}}
</div>  